@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base {
  html{
    font-family: 'Roboto', sans-serif;
    background-color: #fff3c2;
  }
        h1,
        h2,
        h3 {
          font-family: 'Outfit', sans-serif;
        }
    
        p,
        span,
        li {
          font-family: 'Roboto', sans-serif;
        }
    
        code {
          font-family: 'Roboto Mono', monospace;
        }
}
/* Add to your global CSS */
.react-image-magnify {
  transition: transform 0.3s ease-in-out;
}

.react-image-magnify:hover {
  transform: scale(1.02);
}
@keyframes scaleFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleFadeIn {
  animation: scaleFadeIn 0.3s ease-out forwards;
}
.container-section {
  @apply max-w-7xl mx-auto px-6 sm:px-8;
}