services:
  - type: web
    name: mern-ecommerce-api
    env: node
    buildCommand: "npm install"
    startCommand: "node server.js"
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: PAYPAL_CLIENT_ID
        sync: false
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
